  <form method="POST" action="https://api.staticman.net/v1/entry/ralsina/staticman-data/comments">
  <!-- e.g. "2016-01-02-this-is-a-post" -->
  <input name="options[slug]" type="hidden" value="${ post._base_path }">

  <input name="fields[name]" type="text">
  <input name="fields[email]" type="email">
  <textarea name="fields[message]"></textarea>

  <button type="submit">Go!</button>
  </form>

